@model List<CasoEstudio2.BaseDatos.CasasSistema>
@{
    ViewBag.Title = "Consulta de Casas";
}
<div class="text-center">
    <h2 class="text-primary">Consulta de Casas</h2>
</div>
<br />
<br />
<div class="row justify-content-center">
    <div class="col-11">
        <table class="table table-bordered table-hover table-striped text-center bg-light">
            <thead class="thead-dark">
                <tr>
                    <th>Id Casa</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Usuario</th>
                    <th>Fecha de Alquiler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdCasa</td>
                        <td>@item.DescripcionCasa</td>
                        <td>@item.PrecioCasa</td>
                        <td>@item.UsuarioAlquiler</td>
                        <td>@item.FechaAlquiler</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>